{% block body %}
    <h1>Statistiques</h1>
    <div id="chart-container" style="width: 100%; height: 400px;"></div>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var options = {
            series: [{{ pourcentageChomage }}, {{ pourcentageEmploye }}, {{ pourcentageAutoEntrepreneur }}, {{ pourcentageEntrepreneur }}, {{ pourcentageFonctionnaire }}],
            labels: ['Chômage', 'Emploi', 'Auto-Entrepreneuriat', 'Entrepreneur', 'Fonctionnaire'],
            chart: {
                type: 'pie',
                width: '100%',
                height: 400
            },
            colors: ['#FF5733', '#33FF33', '#FFA500', '#3366FF', '#8A2BE2'], // Rouge pour chômage, Bleu pour entrepreneur
            plotOptions: {
                pie: {
                    expandOnClick: false,
                    dataLabels: {
                        enabled: true,
                        formatter: function (val, opts) {
                            return opts.w.globals.labels[opts.seriesIndex] + ": " + parseFloat(val).toFixed(2) + '%';
                        }
                    }
                }
            },
            legend: {
                position: 'bottom',
                labels: {
                    colors: ['#8B0000', '#006400', '#FFD700', '#3366FF', '#8A2BE2'] // Assurez-vous que les couleurs correspondent à celles des séries
                }
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: '100%'
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#chart-container"), options);
        chart.render();
    </script>
{% endblock %}
